body{
  background-color: #CCFFCC;
}

h1{
  font-family: Times;
  color: white;
  background-color: olive;
}
h2{
  font-family: Times;
  color: rgb(51, 204 , 0);
}
p{
  color: green;
  font-family: Helvetica;
}
b{
  color: blue;
}
i{
  color: red;
}
#menu{
  background-color: white;
}
#menu2{
  background-color: #3CB371;
}
a{
  font-family: Courier;
}
