body{
  background-color: #CCFFCC;
}

h1{
  font-family: Times;
  color: white;
  background-color: olive;
  font-size: 60px;
}
h2{
  font-family: Times;
  color: rgb(51, 204 , 0);
  font-size: 36px;
}
p{
  color: green;
  font-family: Helvetica;
}
span.bold{
  color: navy;
  font-style: bold;
}
span.cursif{
  color: red;
  font-style: italic;
}
#menu{
  font-size: 18px;
  background-color: white;
}
#menu2{
  background-color: #3CB371;
}
a{
  font-family: Courier;
}
