body{
    background-color: lightgray;
    font-family: Times;
}

header{
    text-align: center;
    padding: 50px;
    color: blue;
    font-weight: bold;
    background-image: url("Gras.jpg");
}

#mainbody{
    margin-top: 10px;
    background-color: blue;
    height: 540px;
}


#ad, #mop, #nav{
    display: inline-block;
    margin: 0.5%;
    padding: 0.5%;
    height: 500px;
    border: 1px solid black
}

#nav{
    background-color: white;
    padding-left: 2%;
    width: 14%;
    float: left;
}

#mop{
    background-color: pink;
    float: middle;
    width: 61%;
}

#ad{
    background-color: white;
    float: right;
    width: 14%;
}
