body{
    background-color: lightgray;
    margin: 0px;
    font-family: Times;
}

header{
    text-align: center;
    padding: 50px;
    margin: 1%;
    color: blue;
    font-weight: bold;
    background-image: url("Gras.jpg");
}

#mainbody{
    margin: 1%;
    background-color: blue;
    height: 540px;
}

#ad, #mop, #nav{
    float: left;
    margin: 0.5%;
    padding: 0.5%;
    height: 500px;
    border: 1px solid black
}

#nav{
    background-color: white;
    padding-left: 2%;
    width: 13.5%;
}

#mop{
    background-color: pink;
    width: 61%;
}

#ad{
    background-color: white;
    width: 16%;
}