body{
  background-color: #CCFFCC;
}

h1{
  font-family: Times;
  color: white;
  background-color: olive;
  font-size: 60px;
  text-transform: uppercase;
}
h2{
  font-family: Times;
  color: rgb(51, 204 , 0);
  font-size: 36px;
}
p{
  color: green;
  font-family: Helvetica;
}

#menu{
  font-size: 18px;
  background-color: white;
}
#menu2{
  background-color: #3CB371;
  width: 150px;
  height: 75px;  
  border-style: double;
  border-width: 4px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}
a{
  font-family: Courier;
}
#menu a{ 
  padding: 10px;
}
#menu a:link{
  color: #006400;
}
#menu a:visited{
 color: #000080;
}
#menu a:hover{
  font-size: 125%;
}

.hidden1{
  visibility: hidden;
}

#send button:hover{
  color: #665544;
  background-color: #efefef;
}