body{
  background-color: #CCFF77;
}

h1{
  font-family: Times;
  color: white;
  background-color: olive;
  font-size: 60px;
  text-transform: uppercase;
}
h2{
  font-family: Times;
  color: rgb(51, 204 , 0);
  font-size: 36px;
}
p{
  color: green;
  font-family: Helvetica;
}
span.bold{
  color: navy;
  font-style: bold;
}
span.cursif{
  color: red;
  font-style: italic;
}
#menu{
  height: 40px;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  background-color: white;
}
#menu2{
  background-color: #3CB371;
  width: 150px;
  height: 75px;  
  border-style: double;
  border-width: 4px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}
a{
  font-family: Courier;
}
#menu a{
  text-align: center; 
  padding: 10px;
}
#menu a:link{
  color: #006400;
}
#menu a:visited{
 color: #000080;
}
#menu a:hover{
  font-size: 125%;
}

#Return{
  width: 150px;
  height: 75px;
}

.hidden1{
  visibility: hidden;
}

#pagina {
  width: 800px;
  margin: auto;
  background-color: #ccffcc;
}

.tekstt {
  padding: 20px;
}
